* {
  box-sizing: border-box;
}

body {
  font-family: TS-Reg, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: rgb(112, 104, 104);
}
header img {
  width: 270px;
  height: 150px;
}

header .menu {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

header .menu ul {
  justify-content: space-between;
}

.section1 {
  margin-bottom: 30px;
}

div {
  display: flex;
  justify-content: space-between;
}
